{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Догадки экстрасенсов:</h1>


{{ 'Экстрасенс1:' }}
{{ guess1 }}

<br>

{{ 'Экстрасенс2:' }}
{{ guess2}}





<br>
<br>
<br>

 <form class="form-horizontal" method="post">{% csrf_token %}

                            <div class="form-group">
                                <div class="col-lg-4">
                                    <label>Введите загаданное число:</label>
                                    <input type="number" min="1" step="1" name="number" class="form-control"
                                        value="{{ number }}"
                                    >
                                </div>
                            </div>

     <div class="text-left">
            <button type="submit" class="btn btn-primary btn-lg">Отправить на сервер</button>
     </div>

 </form>

{% endblock %}