<h1>Загадайте двухзначное число:</h1>
<a href="{% url 'guesses-medium' %}"><button><h3>Загадал</h3></button></a>
<br>
<br>

<h3>История введённых пользователем чисел:</h3>
  <table class="table">
        <thead>
            <tr>
                <th>Число</th>
            </tr>
        </thead>
        <tbody>
            {% for number in numbers %}
                <tr>
                    <td>
                         {{ number }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
  </table>

<h3>Текущее значение достоверности экстрасенса.</h3>
{% for medium in mediums %}
{{ medium.name }}:
{{ medium.level }}
<br><br>
{% endfor %}

<h3>История догадок экстрасенсов</h3>

<h3>Экстрасенс №1:</h3>
{% for guess in guess1 %}
{{ guess }}
{% endfor %}
<br>
<br>
<h3>Экстрасенс №2:</h3>
{% for guess in guess2 %}
{{ guess }}
{% endfor %}